<nav class="navbar navbar-inverse">
<ul class="nav nav-pills">
  <li role="presentation" class=""><a href="${pageContext.request.contextPath}/ecole/liste"><b>Accueil</b></a></li>
  <li role="presentation"><a href="<c:url value='/ecole/afficheAdd'/>"><b>Ajouter</b></a></li>
  <li role="presentation"><a href="<c:url value='/ecole/afficheUpdate'/>"><b>Modifier</b></a></li>
  <li role="presentation"><a href="<c:url value='/ecole/afficheDelete'/>"><b>Supprimer</b></a></li>
   <li role="presentation"><a href="<c:url value='/ecole/afficheGet'/>"><b>Rechercher</b></a></li>
</ul>
</nav>

<!-- les deux expressions entre accueil et ajouter sont équivalentes -->